@import 'mixins';

.converters{
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  .converter-name{
    font-size: 14px;
  }
  .converter-hover{
    display: none;
  }
  @media screen and (min-width: 768px) {
    &:hover{
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
      .converter{
        position: relative;
        .converter-hover{
        padding: 20px 0 0 20px;
        display: block;        
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        color: #fff;
        font-size: 13px;
        height: 100%;
      }
    }
  }
}
  .converter-img{
      width: 100%
    }
}
.icons-wraper{
  text-align: center;
}
.icons {
  display: inline-flex;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 150px;

  .heart {
    @include icon((0 -59px !important), url('../images/card-icon.png'), 30px, 50px);
  }

  .right {
    @include icon((0 -153px !important), url('../images/card-icon.png'), 30px, 50px);
  }

  .magic {
    @include icon((0 0 !important), url('../images/magic-wand.png'), 30px, 30px);    
    margin-right: 20px !important;
  }
}
@media screen and (max-width:	1140px) {
  .converter-hover{
    padding: 10px;
      p{
      margin: 0;
      padding-bottom: 5px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}